.container {
	width: min(1200px, 100%);
	margin: 0 auto;
	padding: 16px;
}

.filePicker {
	position: relative;
}

.inputFileLabel {
	cursor: pointer;
	transition: transform 0.1s ease-out !important;
	transform: scale(1);
}

.inputFileLabel:hover {
	transform: scale(0.9);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 40px;
}

.fileField {
	display: flex;
	gap: 8px;
	align-items: center;
}

.checks {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.check {
	display: flex;
	gap: 8px;
	padding: 8px 10px;
	align-items: center;
}

.checkboxes {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 20px;
}
