.container {
	width: min(100%, 700px);
	display: flex;
	flex-direction: column;
	padding: 16px;
	background-color: var(--g-color-base-generic);
	border-radius: 10px;
	margin: 20px auto;
}

.form {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.settings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.progressBarContainer {
	width: 150px;
	height: 16px;
	background-color: #e0e0e0;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.progressBar {
	height: 100%;
	background-color: green;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 0.2s;
	z-index: 0;
}

.progressText {
	color: white;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.popover {
	width: fit-content;
}
